<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?cache_id={{ cache_id }}">
    <link type="text/css" rel="stylesheet" href="../static/styles/101-places.css?cache_id={{ cache_id }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js?cache_id={{ cache_id }}"></script>
    <script src="../static/scripts/4-hbnb.js?cache_id={{ cache_id }}"></script>
    <link rel="icon" href="../static/images/icon.png?cache_id={{ cache_id }}" />
    
    <title>HBnB</title>
  </head>
  <body>
    <header>
      <div id="api_status"></div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
	  <h3>States</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
	      {% for state in states %}
	      <li>
		<h2>{{ state[0].name }}:</h2>
		<ul>
		  {% for city in state[1] %}
		  <li>{{ city.name }}</li>
		  {% endfor %}
		</ul>
	      </li>
	      {% endfor %}
	    </ul>
	  </div>
	</div>
	<div class="amenities">
	  <h3>Amenities</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
	      {% for amenity in amenities %}
	      <li><input type="checkbox" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}"> {{ amenity.name }}</li>
	      {% endfor %}
	    </ul>
	  </div>
	</div>
	<button type="button" class="button">Search</button>
      </section>
	  <h1>Places</h1>
	  {% for place in places %}
	  <section class="places">
		<article>
			<h3>{{ place.name }}</h3>
			<div class="price_by_night"><h3>{{ place.price_by_night }}</h3></div>
			<div class="information">
				<div class="max_guest"><p>{{ place.max_guest }}</p></div>
				<div class="number_rooms"><p>{{ place.number_rooms }}</p></div>
				<div class="number_bathrooms"><p>1 {{ place.number_bathrooms }}</p></div>
			</div>
			<div class="user"><strong>Owner:</strong> khireedine</div>
			<div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
			<div class="amenities">
				<h2>Amenities</h2>
				<ul>
                    {% for aminty in place.amenities %}
					<li><span class="icon icon_pet">{{ aminty.name }}</span></li>
                    {% endfor %}
				</ul>
			</div>
		</article>
	{% endfor %}
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
</html>